<template>
  <div>
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>From</th>
      <th>To</th>
      <th>Subject</th>
      <th>Status</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr v-for="email in paginatedEmails.data" :key="email.id">
      <td>{{ email.sender_name }} &lt;{{ email.sender_email }}&gt;</td>
      <td><router-link :to="('/forRecipient/' + email.recipient_email)" >{{ email.recipient_name }} &lt;{{ email.recipient_email }}&gt;</router-link></td>
      <td>{{ email.subject }}</td>
      <td>{{ email.status }} <span :title="email.status_changed_at">({{ email.status_changed_at_readable }})</span>
      </td>
      <td>
        <router-link :to="('/view/' + email.id)" class="btn btn-primary">View</router-link>
      </td>
    </tr>
    </tbody>
  </table>
    <pagination :data="paginatedEmails" @pagination-change-page="goToPage"></pagination>
  </div>
</template>

<script>

import pagination from 'laravel-vue-pagination'

export default {
  name: 'EmailsTable',
  props: ['paginatedEmails', 'goToPage'],
  components: {
    pagination
  }
}
</script>
