<template>
  <form @submit.prevent="submitFn" >
    <div class="form-row">
      <div class="col">
        <input type="text" class="form-control" placeholder="Search To fields" v-model="searchTerms.sender">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Search From fields" v-model="searchTerms.recipient">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Search subject" v-model="searchTerms.subject">
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </div>
  </form>
</template>

<script>
export default {
  name: 'EmailsSearchForm',
  props: ['submitFn', 'searchTerms']
}
</script>
