<template>
  <div>
    <div v-for="error in errors" :key="error" class="invalid-feedback">
      {{ error }}
    </div>
  </div>
</template>

<script>
export default {
  name: 'ValidationErrors',
  props: ['errors']
}
</script>
<style scoped>
.invalid-feedback {
  display: block;
}
</style>