<template>
  <div>
    <h1 class="h4 mb-4">Listing emails for recipient: {{ recipientEmail }}</h1>
    <EmailsSearchForm :submit-fn="submitSearch" :search-terms="searchTerms" class="mb-4"/>
    <EmailsTable :paginatedEmails="paginatedEmails" :goToPage="goToPage"/>
  </div>
</template>

<script>
import ListEmails from "@/views/ListEmails";
import httpClient from "@/utils/httpClient";

export default {
  ...ListEmails,
  name: 'ListEmails',
  data() {
    return {
      paginatedEmails: {},
      recipientEmail: '',
      searchTerms: {
        sender: '',
        recipient: '',
        subject: '',
        page: 1,
      },
      loading: false,
    }
  },
  methods: {
    saveQuery() {
      this.$router.push({
        path: `/forRecipient/${this.recipientEmail}`,
        query: {
          from: this.searchTerms.sender,
          to: this.searchTerms.recipient,
          subject: this.searchTerms.subject,
          page: this.searchTerms.page,
        }
      }).catch(() => {
        //silence navigation to same url error
      })
    },
    goToPage(page = 1) {
      this.searchTerms.page = page;

      this.saveQuery();

      this.fetchEmails(this.searchTerms, this.recipientEmail);
    },
    submitSearch() {
      this.searchTerms.page = 1;

      this.saveQuery();

      this.fetchEmails(this.searchTerms, this.recipientEmail)
    },
    fetchEmails(searchTerms, recipientEmail) {
      this.loading = true;

      httpClient.get(`/api/emails`, {
        params: {
          ...searchTerms,
          recipient_email_exact: recipientEmail,
        }
      }).then((res) => {
        this.paginatedEmails = res.data;
        this.loading = false;
      })
    }
  },
  created() {
    this.searchTerms = {
      sender: this.$route.query.from,
      recipient: this.$route.query.to,
      subject: this.$route.query.subject,
      page: this.$route.query.page,
    }

    this.recipientEmail = this.$route.params.recipientEmail

    this.fetchEmails(this.searchTerms, this.recipientEmail)
  }
}
</script>