<template>
  <div>
    <EmailsSearchForm :submit-fn="submitSearch" :search-terms="searchTerms" class="mb-4"/>
    <EmailsTable :paginatedEmails="paginatedEmails" :goToPage="goToPage"/>
  </div>
</template>

<script>
import EmailsTable from "@/components/EmailsTable";
import EmailsSearchForm from "@/components/EmailsSearchForm";
import httpClient from "@/utils/httpClient";

export default {
  name: 'ListEmails',
  props: [],
  components: {
    EmailsSearchForm,
    EmailsTable
  },
  data() {
    return {
      paginatedEmails: {},
      searchTerms: {
        sender: '',
        recipient: '',
        subject: '',
        page: 1,
      },
      loading: false,
    }
  },
  methods: {
    saveQuery() {
      this.$router.push({
        path: '/',
        query: {
          from: this.searchTerms.sender,
          to: this.searchTerms.recipient,
          subject: this.searchTerms.subject,
          page: this.searchTerms.page,
        }
      }).catch(() => {
        //silence navigation to same url error
      })
    },
    goToPage(page = 1) {
      this.searchTerms.page = page;

      this.saveQuery();

      this.fetchEmails(this.searchTerms);
    },
    submitSearch() {
      this.searchTerms.page = 1;

      this.saveQuery();

      this.fetchEmails(this.searchTerms)
    },
    fetchEmails(searchTerms) {
      this.loading = true;

      httpClient.get(`/api/emails`, {
        params: searchTerms
      }).then((res) => {
        this.paginatedEmails = res.data;
        this.loading = false;
      })
    }
  },
  created() {
    this.searchTerms = {
      sender: this.$route.query.from,
      recipient: this.$route.query.to,
      subject: this.$route.query.subject,
      page: this.$route.query.page,
    }

    this.fetchEmails(this.searchTerms)
  }
}
</script>