<template>
  <form @submit.prevent="postEmail($event.target)" class="mb-4" enctype="multipart/form-data">
    <div class="form-group">
      <label for="sender_name">From name</label>
      <input name="sender_name" type="text" class="form-control" id="sender_name"
             :class="{'is-invalid': validationErrors.sender_name.length}">
      <ValidationErrors :errors="validationErrors.sender_name"/>
    </div>
    <div class="form-group">
      <label for="sender_email">From email *</label>
      <input name="sender_email" type="email" class="form-control" id="sender_email" required
             :class="{'is-invalid': validationErrors.sender_email.length}">
      <ValidationErrors :errors="validationErrors.sender_email"/>
    </div>
    <div class="form-group">
      <label for="recipient_name">To name</label>
      <input name="recipient_name" type="text" class="form-control" id="recipient_name"
             :class="{'is-invalid': validationErrors.recipient_name.length}">
      <ValidationErrors :errors="validationErrors.recipient_name"/>
    </div>
    <div class="form-group">
      <label for="recipient_email">To email *</label>
      <input name="recipient_email" type="email" class="form-control" id="recipient_email" required
             :class="{'is-invalid': validationErrors.recipient_email.length}">
      <ValidationErrors :errors="validationErrors.recipient_email"/>
    </div>
    <div class="form-group">
      <label for="subject">Subject *</label>
      <input name="subject" type="text" class="form-control" id="subject" required
             :class="{'is-invalid': validationErrors.subject.length}">
      <ValidationErrors :errors="validationErrors.subject"/>
    </div>
    <div class="form-group">
      <label for="text_content">Text content</label>
      <textarea name="text_content" class="form-control" id="text_content"
                :class="{'is-invalid': validationErrors.text_content.length}"></textarea>
      <ValidationErrors :errors="validationErrors.text_content"/>
    </div>
    <div class="form-group">
      <label for="html_content">Html content</label>
      <textarea name="html_content" class="form-control" id="html_content"
                :class="{'is-invalid': validationErrors.html_content.length}"></textarea>
      <ValidationErrors :errors="validationErrors.html_content"/>
    </div>
    <div class="form-group">
      <div class="input-group">
        <div class="custom-file">
          <input type="file" name="attachments[]" multiple @change="filesSelected($event.target.files)"
                 class="custom-file-input" id="attachments">
          <label class="custom-file-label" for="attachments">{{ chosenFileNames }}</label>
        </div>
      </div>
      <ValidationErrors :errors="validationErrors.attachments"/>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</template>

<script>
import ValidationErrors from "@/components/ValidationErrors";
import httpClient from "@/utils/httpClient";

export default {
  name: 'PostEmail',
  components: {
    ValidationErrors
  },
  data() {
    return {
      validationErrors: {
        'sender_name': [],
        'sender_email': [],
        'recipient_name': [],
        'recipient_email': [],
        'subject': [],
        'text_content': [],
        'html_content': [],
        'attachments': [],
      },
      chosenFileNames: 'Choose files'
    }
  },
  methods: {
    filesSelected(fileList) {
      this.chosenFileNames = Array.from(fileList).map(file => file.name).join(", ") || 'Choose files'
    },
    postEmail(form) {
      let formData = new FormData(form)

      httpClient.post('/api/emails', formData)
          .then((res) => {
            alert('Email posted, redirecting to view page.');
            this.$router.push(`/view/${res.data.id}`)
          }, (err) => {
            if (err.response.status === 422) {
              this.validationErrors = {
                ...this.validationErrors,
                ...err.response.data.errors,
              }
            }
          })
    }
  }
}
</script>
