<template>
  <div>
    <div>
      <strong>From name</strong>: {{ email.sender_name }}
    </div>
    <div>
      <strong>From email</strong>: {{ email.sender_email }}
    </div>
    <div>
      <strong>To name</strong>: {{ email.recipient_name }}
    </div>
    <div>
      <strong>To email</strong>: {{ email.recipient_email }}
    </div>
    <div>
      <strong>Subject</strong>: <br>
      {{ email.recipient_email }}
    </div>
    <div>
      <strong>Text content</strong>: <br>
      {{ email.text_content }}
    </div>
    <div>
      <strong>Html content <a :href="email.html_preview_url" class="btn btn-sm btn-primary" target="_blank">Preview in new tab</a></strong>: <br>
      {{ email.html_content }}
    </div>
    <div>
      <strong>Status</strong>: {{ email.status }} <span :title="email.status_changed_at">({{ email.status_changed_at_readable}})</span>
    </div>
  </div>
</template>

<script>
import httpClient from "@/utils/httpClient";

export default {
  name: 'ViewEmail',
  props: [],
  data() {
    return {
      email: {},
      loading: false
    }
  },
  created() {
    const emailId = this.$route.params.emailId;

    this.loading = true;

    httpClient.get(`/api/emails/${emailId}`).then((res) => {
      this.email = res.data;
      this.loading = false;
    })
  }
}
</script>
